<div id="nav" class="container_12">
	<ul>
		<li><%= link_to "Home", current_user %></li>
		<li><%= link_to "Edit My Profile", edit_user_path(current_user) %></li>
		<li><%= link_to "Find a Tutor", search_path %></li>
		<li><%= link_to "Message Box (#{current_user.unread_messages.count})", messages_url %></li>
		<li><%= link_to "Favourites", favourites_path %></li>
	</ul>
</div>