<%= form_for(@user, :url => @submit_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following <%= pluralize(@user.errors.count, "error") %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :location, :for => :location_id %><br />
    <%= f.select :location_id, Location.all.collect { |l| [l.name, l.id] } %>
  </div>
  <div class="field">
    <%= f.label :cgpa %><br />
    <%= f.text_field :cgpa %>
  </div>
  <div class="field">
    <%= f.label :education_level %><br />
    <%= f.text_field :education_level %>
  </div>
  <div class="field">
    <%= f.label :contact_method %><br />
    <%= f.text_field :contact_method %>
  </div>
  <div class="field">
    <%= f.label :personal_description %><br />
    <%= f.text_area :personal_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
